.global-footer {
	margin-top: 200px;
	padding-top: 40px;
	background-color: #f5f5f7
}

.p-classic.is-upgrade .global-footer,
.p-compare .global-footer,
.p-updates .global-footer,
.p-buy .global-footer,
.p-404 .global-footer {
	margin-top: 0
}

.global-footer__nav {
	padding-bottom: 40px
}

.global-footer__nav-columns {
	display: flex;
	align-items: flex-start;
	justify-content: space-between
}

.global-footer__nav-title {
	font-size: 12px;
	font-weight: 600;
	color: #0f0f0f;
	letter-spacing: -0.01em
}

.global-footer__nav-links+.global-footer__nav-title {
	margin-top: 27px
}

.global-footer__nav-links {
	display: flex;
	flex-direction: column
}

.global-footer__nav-title+.global-footer__nav-links {
	margin-top: 12px
}

.global-footer__nav-link {
	font-size: 12px;
	color: #0f0f0f;
	letter-spacing: -0.01em;
	opacity: .8;
/*	transition: opacity 130ms ease-in-out*/
}

.global-footer__nav-link.is-press-kit {
	display: inline-flex;
	align-items: center
}

.global-footer__nav-link.is-press-kit svg {
	margin-left: 4px
}

.global-footer__nav-link.is-press-kit svg path {
	fill: currentColor
}

.hover .global-footer__nav-link:hover {
	opacity: .5 !important
}

.global-footer__nav-link+.global-footer__nav-link {
	margin-top: 8px
}

.global-footer .global-footer-subscribe__title {
	font-size: 13px;
	font-weight: 600;
	color: #0f0f0f;
	letter-spacing: -0.01em
}

.global-footer .global-footer-subscribe__description {
	max-width: 280px;
	margin-top: 13px;
	font-size: 13px;
	color: #0f0f0f;
	line-height: 19px;
	letter-spacing: -0.01em;
	opacity: .8
}

.global-footer .global-footer-subscribe__form {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	max-width: 280px;
	margin-top: 18px
}

.global-footer .global-footer-subscribe__form.is-false {
	-webkit-animation: error 550ms ease-in-out forwards;
	animation: error 550ms ease-in-out forwards
}

.global-footer .global-footer-subscribe__form-input {
	flex: 1 0 auto;
	height: 44px;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: 400;
	color: rgba(15, 15, 15, .8);
	letter-spacing: -0.01em;
	text-align: center;
	background-color: #fff;
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none
}

.global-footer .global-footer-subscribe__form-input.is-done {
	pointer-events: none
}

.global-footer .global-footer-subscribe__form-input::-webkit-input-placeholder {
	font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #86868b;
	letter-spacing: -0.01em;
	text-align: center
}

.global-footer .global-footer-subscribe__form-input::-moz-placeholder {
	font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #86868b;
	letter-spacing: -0.01em;
	text-align: center
}

.global-footer .global-footer-subscribe__form-input:-ms-input-placeholder {
	font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #86868b;
	letter-spacing: -0.01em;
	text-align: center
}

.global-footer .global-footer-subscribe__form-input:focus::-webkit-input-placeholder {
	opacity: 0
}

.global-footer .global-footer-subscribe__form-input:focus::-moz-placeholder {
	opacity: 0
}

.global-footer .global-footer-subscribe__form-input:focus:-ms-input-placeholder {
	opacity: 0
}

.global-footer .global-footer-subscribe__form-submit {
	position: relative;
	flex: 0 0 auto;
	width: 68px;
	height: 44px;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	line-height: 44px;
	letter-spacing: -0.01em;
	text-align: center;
	background-color: #026fc9;
	border: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
/*	transition: background-color 330ms ease-in-out, color 330ms ease-in-out, opacity 130ms ease-in-out*/
}

.hover .global-footer .global-footer-subscribe__form-submit:hover {
	background-color: #358cd4
}

.global-footer .global-footer-subscribe__form-submit-text,
.global-footer .global-footer-subscribe__form-submit-process,
.global-footer .global-footer-subscribe__form-submit-done {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.global-footer .global-footer-subscribe__form-submit-text {
	width: 100%;
/*	transition: opacity 130ms ease-in-out*/
}

.global-footer .global-footer-subscribe__form-submit-process,
.global-footer .global-footer-subscribe__form-submit-done {
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity 130ms ease-in-out
}

.global-footer .global-footer-subscribe__form-submit-process path,
.global-footer .global-footer-subscribe__form-submit-done path {
	fill: #fff
}

.global-footer .global-footer-subscribe__form-submit-process img {
	animation-name: signupProcess;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite
}

.global-footer .global-footer-subscribe__form-submit.is-process,
.global-footer .global-footer-subscribe__form-submit.is-done {
	pointer-events: none
}

.global-footer .global-footer-subscribe__form-submit.is-process .global-footer-subscribe__form-submit-text,
.global-footer .global-footer-subscribe__form-submit.is-done .global-footer-subscribe__form-submit-text {
	opacity: 0
}

.global-footer .global-footer-subscribe__form-submit.is-process .global-footer-subscribe__form-submit-process {
	opacity: 1
}

.global-footer .global-footer-subscribe__form-submit.is-done .global-footer-subscribe__form-submit-done {
	opacity: 1
}

.global-footer__copyright {
	padding-top: 11px !important;
	padding-bottom: 34px !important;
	margin-top: 0 !important;
	border-top: 1px solid #cecece
}

.global-footer__copyright-text {
	font-size: 12px;
	color: #86868b;
	line-height: 1.45;
}

.global-footer__asterisk {
	padding-bottom: 11px !important;
	margin-top: 0 !important;
	margin-bottom: 23px !important;
	border-bottom: 1px solid #cecece
}

@media only screen and (max-width: 850px) {
	.global-footer__asterisk {
		display: none
	}
}

.global-footer__asterisk-text {
	font-size: 12px;
	color: #86868b
}

@media only screen and (min-width: 768px) {
	.global-footer-arrow {
		display: none
	}
}

@media only screen and (min-width: 768px)and (max-width: 1023px) {
	.global-footer__nav-columns {
		flex-wrap: wrap
	}

	.global-footer .global-footer-subscribe {
		width: 100%;
		margin-top: 44px
	}
}

@media only screen and (max-width: 767px) {
	.global-footer__nav-columns {
		flex-direction: column
	}

	.global-footer__nav-column {
		width: 100%
	}

	.global-footer__nav-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 13px;
		padding-bottom: 10px;
		cursor: pointer
	}

	.global-footer__nav-links+.global-footer__nav-title {
		margin-top: 0
	}

	.global-footer__nav-links {
		width: 100%;
		max-height: 1px;
		padding-left: 6px;
		border-bottom: 1px solid #cecece;
/*		transition: max-height 330ms ease-in-out*/
	}

	.global-footer__nav-links.is-opened {
		max-height: 250px
	}

	.global-footer__nav-title+.global-footer__nav-links {
		margin-top: 0;
		padding-top: 0
	}

	.global-footer__nav-link {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
/*		transition: opacity 130ms ease-in-out*/
	}

	.hover .global-footer__nav-link:hover {
		opacity: .8 !important
	}

	.global-footer__nav-link:last-of-type {
		padding-bottom: 13px
	}

	.global-footer__nav-links.is-active .global-footer__nav-link {
		visibility: visible;
		opacity: .8;
		pointer-events: all
	}

	.global-footer__nav-links.is-closing .global-footer__nav-link {
		opacity: 0;
		pointer-events: none
	}

	.global-footer .global-footer-subscribe {
		width: 100%;
		margin-top: 13px
	}

	.global-footer .global-footer-subscribe__form {
		max-width: 414px
	}

	.global-footer .global-footer-arrow {
		overflow: hidden;
		position: relative;
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-left: -1px;
		-webkit-transform: translateY(1px);
		-ms-transform: translateY(1px);
		transform: translateY(1px);
		-webkit-transition: -webkit-transform 330ms ease-out;
		-ms-transition: -ms-transform 330ms ease-out;
		transition: transform 330ms ease-out
	}

	.global-footer .global-footer-arrow::before,
	.global-footer .global-footer-arrow::after {
		content: "";
		position: absolute;
		top: 50%;
		z-index: 1;
		display: block;
		width: 4px;
		height: 1px;
		background: #0f0f0f;
		-webkit-transition: -webkit-transform 330ms ease-out, -webkit-transform-origin 330ms ease-out;
		-ms-transition: -ms-transform 330ms ease-out, -ms-transform-origin 330ms ease-out;
		transition: transform 330ms ease-out, transform-origin 330ms ease-out
	}

	.global-footer .global-footer-arrow::before {
		right: 50%;
		-webkit-transform: rotate(40deg) scaleY(1);
		-ms-transform: rotate(40deg) scaleY(1);
		transform: rotate(40deg) scaleY(1);
		-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%
	}

	.global-footer .global-footer-arrow::after {
		left: 50%;
		-webkit-transform: rotate(-40deg) scaleY(1);
		-ms-transform: rotate(-40deg) scaleY(1);
		transform: rotate(-40deg) scaleY(1);
		-webkit-transform-origin: 0% 100%;
		-ms-transform-origin: 0% 100%;
		transform-origin: 0% 100%
	}

	.global-footer__nav-title.is-opened .global-footer-arrow {
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px)
	}

	.global-footer__nav-title.is-opened .global-footer-arrow::before {
		-webkit-transform: rotate(-40deg) scaleY(1);
		-ms-transform: rotate(-40deg) scaleY(1);
		transform: rotate(-40deg) scaleY(1);
		-webkit-transform-origin: 100% 0%;
		-ms-transform-origin: 100% 0%;
		transform-origin: 100% 0%
	}

	.global-footer__nav-title.is-opened .global-footer-arrow::after {
		-webkit-transform: rotate(40deg) scaleY(1);
		-ms-transform: rotate(40deg) scaleY(1);
		transform: rotate(40deg) scaleY(1);
		-webkit-transform-origin: 0% 0%;
		-ms-transform-origin: 0% 0%;
		transform-origin: 0% 0%
	}
}